[Unit]
Description={{ immich_app_name }} server container
After=network-online.target {{ immich_app_name }}-redis.service {{ immich_app_name }}-db.service {{ immich_app_name
}}-ml.service
Requires={{ immich_app_name }}-redis.service {{ immich_app_name }}-db.service {{ immich_app_name }}-ml.service

[Container]
Image={{ immich_image }}
ContainerName={{ immich_app_name }}
Network={{ immich_app_name }}.network
PublishPort={{ immich_port }}:2283
Volume={{ immich_upload_dir }}:/data
Volume=/etc/localtime:/etc/localtime:ro
Environment=IMMICH_VERSION={{ immich_version }}
Environment=DB_USERNAME={{ immich_db_user }}
Environment=DB_PASSWORD={{ immich_db_password }}
Environment=DB_DATABASE_NAME={{ immich_db_name }}
Environment=DB_HOSTNAME={{ immich_app_name }}-db
Environment=REDIS_HOSTNAME={{ immich_app_name }}-redis

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target