[Unit]
Description={{ immich_app_name }} Postgres container
After=network-online.target

[Container]
Image={{ immich_db_image }}
ContainerName={{ immich_app_name }}-db
Network={{ immich_app_name }}.network
Volume={{ immich_db_dir }}:/var/lib/postgresql/data
Environment=POSTGRES_PASSWORD={{ immich_db_password }}
Environment=POSTGRES_USER={{ immich_db_user }}
Environment=POSTGRES_DB={{ immich_db_name }}
Environment=POSTGRES_INITDB_ARGS=--data-checksums
ShmSize=128m

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target