[Unit]
Description={{ docmost_app_name }} Redis container
After=network-online.target

[Container]
Image={{ docmost_redis_image }}
Network={{ docmost_app_name }}.network
ContainerName={{ docmost_app_name }}-redis
Volume={{ docmost_app_name }}-redis.volume:/data
HealthCmd=redis-cli ping
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target