---
# Source: paperless-ngx/templates/common.yaml
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: paperless-ngx-consume
  labels:
    app.kubernetes.io/instance: paperless-ngx
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: paperless-ngx
    app.kubernetes.io/version: 2.14.7
    helm.sh/chart: paperless-ngx-0.24.1
  annotations:
    "helm.sh/resource-policy": keep
spec:
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "4Gi"
  storageClassName: "longhorn"
---
# Source: paperless-ngx/templates/common.yaml
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: paperless-ngx-export
  labels:
    app.kubernetes.io/instance: paperless-ngx
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: paperless-ngx
    app.kubernetes.io/version: 2.14.7
    helm.sh/chart: paperless-ngx-0.24.1
  annotations:
    "helm.sh/resource-policy": keep
spec:
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "5Gi"
  storageClassName: "longhorn"
---
# Source: paperless-ngx/templates/common.yaml
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: paperless-ngx-media
  labels:
    app.kubernetes.io/instance: paperless-ngx
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: paperless-ngx
    app.kubernetes.io/version: 2.14.7
    helm.sh/chart: paperless-ngx-0.24.1
  annotations:
    "helm.sh/resource-policy": keep
spec:
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "20Gi"
  storageClassName: "longhorn"
---
# Source: paperless-ngx/templates/common.yaml
apiVersion: v1
kind: Service
metadata:
  name: paperless-ngx
  labels:
    app.kubernetes.io/service: paperless-ngx
    app.kubernetes.io/instance: paperless-ngx
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: paperless-ngx
    app.kubernetes.io/version: 2.14.7
    helm.sh/chart: paperless-ngx-0.24.1
  annotations:
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/instance: paperless-ngx
    app.kubernetes.io/name: paperless-ngx
---
# Source: paperless-ngx/templates/common.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless-ngx
  labels:
    app.kubernetes.io/instance: paperless-ngx
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: paperless-ngx
    app.kubernetes.io/version: 2.14.7
    helm.sh/chart: paperless-ngx-0.24.1
spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: paperless-ngx
      app.kubernetes.io/instance: paperless-ngx
  template:
    metadata:
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/agent-inject-file-paperless: paperless-ngx
        vault.hashicorp.com/agent-inject-secret-paperless: kv-apps/data/paperless-ngx
        vault.hashicorp.com/agent-inject-template-paperless: |
          {{- with secret "kv-apps/data/paperless-ngx" -}}
          export PAPERLESS_SECRET_KEY="{{ .Data.data.PAPERLESS_SECRET_KEY }}"
          export PAPERLESS_DBPASS="{{ .Data.data.PAPERLESS_DBPASS }}"
          {{- end }}
        vault.hashicorp.com/agent-inject-vault-address: https://vault.lan.schwarzkopf.center
        vault.hashicorp.com/agent-pre-populate: "true"
        vault.hashicorp.com/role: role-paperless-ngx
        vault.hashicorp.com/secret-volume-path-paperless: /vault/secrets
      labels:
        app.kubernetes.io/name: paperless-ngx
        app.kubernetes.io/instance: paperless-ngx
    spec:
      serviceAccountName: paperless-ngx-sa
      automountServiceAccountToken: true
      securityContext:
        fsGroup: 1000
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      containers:
        - name: paperless-ngx
          image: ghcr.io/paperless-ngx/paperless-ngx:2.19.5
          imagePullPolicy: IfNotPresent
          env:
            - name: BASH_ENV
              value: /vault/secrets/paperless-ngx
            - name: PAPERLESS_ALLOWED_HOSTS
              value: paperless.lan.schwarzkopf.center
            - name: PAPERLESS_CORS_ALLOWED_HOSTS
              value: https://paperless.lan.schwarzkopf.center
            - name: PAPERLESS_CSRF_TRUSTED_ORIGINS
              value: https://*.lan.schwarzkopf.center,https://paperless.lan.schwarzkopf.center
            - name: PAPERLESS_DBENGINE
              value: postgresql
            - name: PAPERLESS_DBHOST
              value: database-pg-prod
            - name: PAPERLESS_DBNAME
              value: paperless
            - name: PAPERLESS_DBPORT
              value: "5432"
            - name: PAPERLESS_DBSSLMODE
              value: disable
            - name: PAPERLESS_DBUSER
              value: paperless
            - name: PAPERLESS_PORT
              value: "8000"
            - name: PAPERLESS_REDIS
              value: redis://redis-service:6379
            - name: PAPERLESS_TIME_ZONE
              value: Europe/Berlin
            - name: PAPERLESS_TRUSTED_PROXIES
              value: "*"
            - name: PAPERLESS_URL
              value: https://paperless.lan.schwarzkopf.center
            - name: TZ
              value: Europe/Berlin
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          volumeMounts:
            - name: consume
              mountPath: /usr/src/paperless/consume
            - name: export
              mountPath: /usr/src/paperless/export
            - name: media
              mountPath: /usr/src/paperless/media
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 0
            periodSeconds: 10
            tcpSocket:
              port: 8000
            timeoutSeconds: 1
          readinessProbe:
            failureThreshold: 3
            initialDelaySeconds: 0
            periodSeconds: 10
            tcpSocket:
              port: 8000
            timeoutSeconds: 1
          startupProbe:
            failureThreshold: 30
            initialDelaySeconds: 0
            periodSeconds: 5
            tcpSocket:
              port: 8000
            timeoutSeconds: 1
      volumes:
        - name: consume
          persistentVolumeClaim:
            claimName: paperless-ngx-consume
        - name: export
          persistentVolumeClaim:
            claimName: paperless-ngx-export
        - name: media
          persistentVolumeClaim:
            claimName: paperless-ngx-media
