[Unit]
Description={{ leafwiki_app_name }} container
After=network-online.target

[Container]
Image={{ leafwiki_image }}
UserNS=keep-id
User={{ leafwiki_service_user_uid }}
Group={{ leafwiki_service_user_gid }}
ContainerName={{ leafwiki_app_name }}
PublishPort={{ leafwiki_port }}:8080
Volume={{ leafwiki_data_dir }}:/app/data

Environment=LEAFWIKI_ADMIN_PASSWORD="{{ __leafwiki_admin_password }}"
Environment=LEAFWIKI_JWT_SECRET="{{ leafwiki_jwt_secret }}"
Environment=LEAFWIKI_ENABLE_REVISION={{ leafwiki_enable_revision }}
Environment=LEAFWIKI_PUBLIC_ACCESS={{ leafwiki_public_access }}

[Service]
Restart=unless-stopped
TimeoutStartSec=300

[Install]
WantedBy=default.target