services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - redisdata:/data
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:${paperless.version}
    restart: unless-stopped
    depends_on:
      - broker
    ports:
      - "80:8000"
    volumes:
      - ${paperless.data_dir}:/usr/src/paperless/data
      - ${paperless.media_dir}:/usr/src/paperless/media
      - ./export:/usr/src/paperless/export
      - ./consume:/usr/src/paperless/consume
    env_file: ${paperless.env_filepath}
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_TIME_ZONE: Europe/Berlin
      PAPERLESS_OCR_LANGUAGE: deu
      PAPERLESS_CONSUMER_POLLING: 300
      PAPERLESS_DBENGINE: postgresql
      PAPERLESS_DBHOST: database-pg-prod.lan
      PAPERLESS_DBPORT: 5432
volumes:
  data:
  media:
  redisdata:
