[defaults]
inventory           = inventory/hosts.yml
roles_path          = roles
vault_password_file = .vault_pass
remote_user         = debian
host_key_checking   = False
vars_files          = vault/secrets.yml

[privilege_escalation]
become      = True
become_method = sudo