ollama:
  enabled: false

pipelines:
  enabled: false

ollamaUrls:
  - "http://ollama:11434"

persistence:
  enabled: true
  storageClass: longhorn
  accessMode: ReadWriteOnce
  size: 20Gi
  retain: true
