[Unit]
Description={{ instance.name }} Postgres container
After=network-online.target

[Container]
Image={{ instance.image }}
ContainerName={{ instance.name }}
PublishPort={{ instance.port }}:5432
Volume={{ database_data_dir }}:/var/lib/postgresql/data
Secret={{ instance.name }}_pg_password,type=env,target=POSTGRES_PASSWORD
Environment=POSTGRES_USER={{ instance_secrets.db_user }}
{% if instance.extra_env is defined %}
{% for key, value in instance.extra_env.items() %}
Environment={{ key }}={{ value }}
{% endfor %}
{% endif %}

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target